.App button:focus,
.App input:focus {
  outline: none;
}
.appBody {
  display: flex;
  justify-content: center;
  align-items: center;
}
.App button {
  transition: 0.3s;
}

.App button:hover {
  /* scale: 1.01; */
  opacity: 0.8;
}
